<nav class="navbar navbar-dark bg-black">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <a class="nav-link me-3 dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img
              class="card-img-top img-fluid rounded-circle profile-pic me-2"
              style="width: 4rem; height: 4rem"
              [src]="defaultProfile"
              alt="Profile Picture"
            />
          </a>
      
          <ul class="dropdown-menu dropdown-menu-end p-3" style="min-width: 200px;" aria-labelledby="profileDropdown">
            <li>
              <button class="dropdown-item fs-5 text-center my-3 rounded-3 bg-gradient btn-primary" routerLink="/pages/profile" routerLinkActive="active">Profile</button>
            </li>
            <li>
              <button class="dropdown-item fs-5 text-center my-3 rounded-3 bg-gradient btn-primary" href="#" (click)="logout()">Logout</button>
            </li>
          </ul>
        </div>
      </div>
      
  
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Sasta Website</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-column mb-2">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/pages/profile"
                routerLinkActive="active"
              >
                <img
                  class="card-img-top img-fluid rounded-circle profile-pic"
                  style="width: 5rem; height: 5rem"
                  data-bs-dismiss="offcanvas"
                  [src]="defaultProfile"
                  alt="Profile Picture"
                />
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/pages/home"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                Home
              </a>
            </li>
            <li class="nav-item" >
              <a
                class="nav-link"
                routerLink="/pages/content/category"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                Create Category
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/pages/product"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                Create Product
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/pages/about"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                About Us
              </a>
            </li>
            <li class="nav-item" >
              <a
                class="nav-link"
                routerLink="/pages/content/dashboard"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/pages/chat"
                routerLinkActive="active"
                data-bs-dismiss="offcanvas"
              >
                Chat with our AI
              </a>
            </li>
          </ul>
  
          <form class="d-flex mb-3">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-primary" type="submit">
              Search
            </button>
          </form>
  
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary"  data-bs-dismiss="offcanvas" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>